<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Links App</title>
	{{!-- GOOGLE FONTS --}}
	<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
	{{!-- BOOTSTRAP 4 --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	{{!-- FONT AWESOME--}}
	<script src="https://kit.fontawesome.com/1206c45280.js"></script>
	{{!-- STYLES--}}
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	{{> navigation }}
	{{{ body }}}
</body>
</html>